*{
    margin: 0;
}

body{
    font-family: "Merriweather", sans-serif;
    margin: 10px;
}


input::placeholder{
    text-align: end;
}

input, select{
    background: #eff0f1;
    border: none;
    border-radius: 5px;
}

h1{
    margin:0%;
    padding: 0;
    background-color: #2d3945;
    color: #ffffff;    
    text-align: center;
    font-size: large;
    padding: 15px;
    margin: -10px -10px 0 -10px;
}

h2{
    text-align: center;
    padding: 5px 0;
}

p {
    text-align: center;
    padding: 5px 0 15px 0;
    color: gray;
}

input, select, textarea{
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
}

input[type="checkbox"], input[type="radio"]{
    width: auto;
}

#zip{
    width: 25%;
    padding: 15px 5px 15px 5px;
}

header {
    border-bottom: 5px solid;
}

textarea {
    margin: 10px 0 20px 0;

}

input[type=submit]{
    background-color: #4ebbb5;
    color: #ffffff;
    font-size: larger;
}

form{
    display: flex;
    flex-direction: column;
    border: none;
}

legend{
    font-size: larger;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 10px 0;

}

fieldset{
    border: none;
    border-top: 2px solid black;
    padding: 0;
    margin-top: 2px;
}

input:focus,textarea:focus{
    outline: 2px solid #2d3945;

}



/* desktop view */

@media (min-width: 768px) {
    header, form, footer{
        max-width: 768px;
        margin: auto;
    }



    #contact > input, select{
        width: 70%;
        float: right;
    }

    #contact > label{
        float: left;
        clear: both;
        padding-top: 20px;
    }

    #contact > #zip{
        width: 25%;
        float: left;
        margin-left: 165px;
    }


}