*{
    margin: 0;
}

body{
    font-family: "Merriweather", sans-serif;
    margin: 10px;
}


input::placeholder{
    text-align: end;
}

input, select{
    background: #eff0f1;
    border: none;
    border-radius: 5px;
}

h1{
    margin:0%;
    padding: 0;
    background-color: #2d3945;
    color: #ffffff;    
    text-align: center;
    font-size: large;
    padding: 15px;
    margin: -10px -10px 0 -10px;
}

h2{
    text-align: center;
    padding: 5px 0;
}

p {
    text-align: center;
    padding: 5px 0 15px 0;
    color: gray;
}

input, select, textarea{
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
}

input[type="checkbox"], input[type="radio"]{
    width: auto;
}

#zip{
    width: 50%;
    padding: 15px 5px 15px 5px;
}

header {
    border-bottom: 5px solid;
}

textarea {
    margin: 10px 0 20px 0;

}

input[type=submit]{
    background-color: #4ebbb5;
    color: #ffffff;
    font-size: larger;
}

form{
    display: flex;
    flex-direction: column;
    border: none;
}

legend{
    font-size: larger;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 2px solid black;

}

fieldset{
    border: none;
    padding: 0;
    margin-top: 2px;
}

input:focus,textarea:focus, select:focus{
    outline: 2px solid #2d3945;

}




/* desktop view */

@media (min-width: 768px) {
    header, form, footer{
        max-width: 768px;
        margin: auto;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        }

    #contact > div{
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
        align-items: center;
    }

    input, select {
        width: 70%;
    }

    #zip{
        width: 25%;
        margin-right: 44%;
    }

    label{
        text-align: center;
    }

    #signup {
        width: 100%;
    }

}